<h2>Book Details</h2>

<hr/>
<div *ngIf="book">
    <div>
        <label><b>Book: </b></label> {{book.book}}
    </div>
    <div>
        <label><b>User: </b></label> {{book.user}}
    </div>
    <div>
        <label><b>Author: </b></label> {{book.author}}
    </div>
    <div>
        <label><b>Publisher: </b></label> {{book.publisher}}
    </div>
    <div>
        <label><b>Book Category: </b></label> {{book.bookCategory}}
    </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Book List</button><br>